#calculator {
  font-family: 'open_sanslight', sans-serif;
}

#calculator h2 {
  font-family: 'open_sansbold', sans-serif;
  font-size: 1.5em;
  margin: 20px 0;
}

#calculator .sub-heading {
  text-align: center;
}

#calculator h3 {
  font-family: 'open_sansbold', sans-serif;
  font-size: 0.75em;
  margin: 20px 0;
}

#calculator .column {
  text-align: left;
}

#calculator input {
  width: 100%;
  height: 30px;
}

#calculator textarea {
  width: 100%;
  height: 100px;
}

#calculator #how-we-got-those-numbers {
  margin-top: 3.7em;
}

#calculator #how-we-got-those-numbers button {
  margin-bottom: 0.4em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#calculator #output-fields {
  -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
}

#calculator .logo {
  max-width: 400px;
  width: 100%;
  margin: 40px auto;
}

#calculator .testimonial-body {
  max-width: 700px;
  width: 100%;
  margin: 40px auto;
  text-align: center;
}

#calculator .recharts-wrapper {
  margin: 0 auto;
}

#calculator-app {
  margin-top: 40px;
  padding: 40px;
  background-color: #7cb518;
  color: #fff;
}

#calculator-app h1 {
    color: #fff;
    text-align: center;
    font-family: 'ralewaybold',sans-serif;
    font-size: 50px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-bottom: 1.5em;
    border-bottom:
}

#calculator-app h1:after {
  content: '';
  display: block;
  height: 3px;
  background-color: #fff;
  width: 200px;
  margin: 0 auto;
}

#calculator label {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

#calculator .column#number-of-rooms,
#calculator .column#average-occupancy-of-rooms,
#calculator .column#amount-of-meetings-daily {
  text-align: center;
}

input#_number-of-rooms,
input#_average-occupancy-of-rooms,
input#_amount-of-meetings-daily {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(255,255,255,0.5);
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 15px;
  text-align: center;
  margin-top: 40px;
  height: 50px;
  width: 80%;
  margin: 0 auto;
}

#FINAL_SAVINGS_MONTHLY {
  border: 2px solid rgba(255,255,255,0.5);
  /*width: 300px;
  height: 300px;*/
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

#FINAL_SAVINGS_MONTHLY h3 {
  max-width: 130px;
  text-align: center;
  /*margin: 20px auto -16px auto;*/
  margin: 30px auto -16px auto;
  font-size: 16px;
}

#FINAL_SAVINGS_MONTHLY input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background-color: transparent;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  height: 120px;
  text-align: center;
  cursor: none;
}

#FINAL_SAVINGS_MONTHLY .icon-after-savings {
  color: #fff;
  top: -50px;
  left: 47%;
  transform: translateX(-50%);
  position: relative;
  font-size: 100px;
  width: 40px;
  height: 40px;
  display: block;
}

#FINAL_SAVINGS_MONTHLY .how-did-we-calculate {
  margin-top: 20px;
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
}

#calculator .hide-button {
  margin-top: 20px;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

#calculator #output-fields {
  margin-top: 50px;
}

#calculator #total-square-meters,
#calculator #price-of-rent-1sqm,
#calculator #average-salary {
  text-align: center;
}

input#_total-square-meters,
input#_price-of-rent-1sqm,
input#_average-salary {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(255,255,255,0.5);
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 15px;
  text-align: center;
  margin-top: 40px;
  height: 50px;
  width: 80%;
  margin: 0 auto;
}








@media screen and (min-width: 767px) and (max-width: 768px) {

}


@media screen and (max-width: 767px) {

  .recharts-surface,
  .recharts-default-legend {
    max-width: 390px;
    width: 100%;
  }

  #calculator-app h1 {
    font-size: 40px;
  }

}

@media screen and (max-width: 321px) {

  #FINAL_SAVINGS_MONTHLY {
    width: 250px;
    height: 250px;
  }

  #FINAL_SAVINGS_MONTHLY input {
    font-size: 40px;
    height: 50px;
    margin-top: 50px;
}

}
